<p>emplyees-list works!</p>
<h2 class="text-center m-5"></h2>

<table class="table-stripted table-bordered">
    <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Level</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
            <td>qqq</td>
            <td>qqq</td>
            <td>qqq</td>
            <td>
                <button>delete</button>
            </td>
            <button [routerLink] = "['/employees/new']">Add New Button</button>
        </tr>
    </tbody>
</table>
